In [21]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
import csv

df = pd.read_csv('https://raw.githubusercontent.com/PacktWorkshops/The-Machine-Learning-Workshop/master/Chapter04/census_income_dataset.csv')

del df['fnlwgt']
del df['education']
del df['relationship']
del df['race']
del df['sex']

enc = LabelEncoder()

df['workclass'] = enc.fit_transform(df['workclass'].astype('str'))
df['marital-status'] = enc.fit_transform(df['marital-status'].astype('str'))
df['occupation'] = enc.fit_transform(df['occupation'].astype('str'))
df['native-country'] = enc.fit_transform(df['native-country'].astype('str'))

df.head(10)
                                
df.to_csv('census_income_dataset_preprocessed.csv')

In [16]:
min = df['capital-loss'].mean() - 3*df['capital-loss'].std()
max = df['capital-loss'].mean() + 3*df['capital-loss'].std()
(df['capital-loss'] <= min).sum() + (df['capital-loss'] >= max).sum()

1470

In [22]:
df['capital-loss'] <= min

0        False
1        False
2        False
3        False
4        False
         ...
32556    False
32557    False
32558    False
32559    False
32560    False
Name: capital-loss, Length: 32561, dtype: bool

In [23]:
print(df)

       age  workclass  education-num  marital-status  occupation  \
0       39          6             13               4           0
1       50          5             13               2           3
2       38          3              9               0           5
3       53          3              7               2           5
4       28          3             13               2           9
...    ...        ...            ...             ...         ...
32556   27          3             12               2          12
32557   40          3              9               2           6
32558   58          3              9               6           0
32559   22          3              9               4           0
32560   52          4              9               2           3

       capital-gains  capital-loss  hours-per-week  native-country  target
0               2174             0              40              38   <=50K
1                  0             0              13              38   <=50K
2                  0             0              40              38   <=50K
3                  0             0              40              38   <=50K
4                  0             0              40               4   <=50K
...              ...           ...             ...             ...     ...
32556              0             0              38              38   <=50K
32557              0             0              40              38    >50K
32558              0             0              40              38   <=50K
32559              0             0              20              38   <=50K
32560          15024             0              40              38    >50K

[32561 rows x 10 columns]