In [151]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
file_path = '/Users/tengyaolong/Desktop/Anaconda stuff/Learning/Wholesale_customers_data.csv'
data = pd.read_csv(file_path)
print(type(data))

<class 'pandas.core.frame.DataFrame'>

In [152]:
data.head(10)

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen
0,2,3,12669,9656,7561,214,2674,1338
1,2,3,7057,9810,9568,1762,3293,1776
2,2,3,6353,8808,7684,2405,3516,7844
3,1,3,13265,1196,4221,6404,507,1788
4,2,3,22615,5410,7198,3915,1777,5185
5,2,3,9413,8259,5126,666,1795,1451
6,2,3,12126,3199,6975,480,3140,545
7,2,3,7579,4956,9426,1669,3321,2566
8,1,3,5963,3648,6192,425,1716,750
9,2,3,6006,11093,18881,1159,7425,2098

In [153]:
data.isnull().sum()

Channel             0
Region              0
Fresh               0
Milk                0
Grocery             0
Frozen              0
Detergents_Paper    0
Delicassen          0
dtype: int64

In [154]:
for i in range(data.shape[1]):
    min = data[data.columns[i]].mean() - (3*data[data.columns[i]].std())
    max = data[data.columns[i]].mean() + (3*data[data.columns[i]].std())
    data = data[data[data.columns[i]] <= max]
    data = data[data[data.columns[i]] >= min]

In [166]:
data.shape[0]

396

In [135]:
(data <= min_).sum()

Channel             0
Region              0
Fresh               0
Milk                0
Grocery             0
Frozen              0
Detergents_Paper    0
Delicassen          0
dtype: int64